<div class="row marketing">
	<h1 style="text-align: center">Informations Générales</h1><br />
	<!-- section 1-->
	<h2>Informations Grades</h2>
	<p>Les grades suivants sont classés par ordre croissant de permissions. Le grade le plu restreint est donc en premier.</p>
	<ul>
		<li>
			<h3>Invité</h3>
			<p>A la permission de projeter sur un écran.</p>
		</li>
		<li>
			<h3>Utilisateur</h3>
			<p>Dispose des permissions d'un invité, ainsi que la possibilité de projeter sur plusieurs écrans.</p>
		</li>
		<li>
			<h3>Utilisateur supérieur</h3>
			<p>Dispose des permissions d'un utilisateur, ainsi que la possibilité de diffuser des flux provenants des réseaux sociaux.</p>
		</li>
		<li>
			<h3>Administrateur</h3>
			<p>Dispose de toutes les permissions. Notamment l'accès au panneau d'administration. Celui-ci lui permet de gérer l'ajout de nouveaux écrans, ainsi que la configuration d'un groupe d'écran.</p>
		</li>
	</ul>
	<!-- section 2-->
	<h2>Détails des différentes pages</h2>
	<p>Les page suivantes découlent toutes du menu principal.</p>
	<ul>
		<li>
			<h3>/</h3>
			<p>Page d'accueil de l'application</p>
			<p>Contient : Le menu de l'application</p>
		</li>
		<li>
			<h3>/connexion</h3>
			<p>Page de connexion à l'application</p>
			<p>Contient 2 input correspondant au nom de compte et au mot de passe.
			</p>
		</li>
		<li>
			<h3>/projeter</h3>
			<p>Page d'accès à la projection vers un écran</p>
			<p>Contient 2 étapes
				<ul>
					<li>Selection de l'écran dans une liste, ou en scannant le QR-code, ou en entrant l'identifiant de l'écran</li>
					<li>Selection du fichier à projeter</li>
				</ul>
			</p>
		</li>
		<li>
			<h3>/projetermul</h3>
			<p>Page d'accès à la projection vers plusieurs écrans</p>
			<p>Contient 2 étapes
				<ul>
					<li>Selection des écrans dans une checkbox</li>
					<li>Selection du fichier à projeter</li>
				</ul>
			</p>
		</li>
		<li>
			<h3>/simulation</h3>
			<p>Page de simulation d'un projection via l'application.</p>
			<p>Elle est accessible en aval de /projeter ou /projetermul</p>
		</li>
		<li>
			<h3>/flux</h3>
			<p>Page d'accès à la projection de flux provenant de réseaux sociaux</p>
		</li>
		<li>
			<h3>/parametre</h3>
			<p>Page de configuration des paramètre de mon compte.</p>
		</li>
		<li>
			<h3>/administration</h3>
			<p>Page de gestion des utilisateurs et des écrans</p>
		</li>
	</ul>
</div>
