<div class="jumbotron">
  <h1>Page d'accueil</h1>
  <br />
  <a class="mainjf" ng-href="#/projeter" >
    Projeter
  </a><br /><br />
  <a class="mainjf" ng-href="#/projetermul">
    Projeter multiple
  </a><br /><br />
  <a class="mainjf" ng-href="#/flux">
    Projeter flux réseaux sociaux
  </a><br /><br />
  <a class="mainjf" ng-href="#/parametre">
    Paramètres
  </a><br /><br />
  <a class="mainjf" ng-href="#/administration">
    Panneau d'administration
  </a><br /><br />
</div>

<div class="row marketing">
  <h2>Projeter flux réseaux sociaux</h2>
  <p>Disponible à partir du grade utilisateur supérieur.
  Plus d'information sur la page <a ng-href="#/about">information</a>.</p>
  <h2>Panneau d'administration</h2>
  <p>Disponible uniquement pour le grade administrateur.
  Plus d'information sur la page <a ng-href="#/about">information</a>.</p>
</div>
<style>
.mainjf{
  border: solid 1px lightgrey;
  border-radius: 4px;
  background: #5280B4;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: large;
  text-decoration: none;
  width: 100px;
}

</style>