<div class="jumbotron">
	<h1>{{msg}}</h1>
	<br />
	<div ng-show="step1">
		<h2>Étape 1</h2>
		<h3>Choix de l'écran</h3>
		<br />
		<div>
			<h4>Choisir dans la liste</h4>
			<select class="form-control">
				<option></option>
				<option ng-repeat="x in ecrans">{{x.nom}}</option>
			</select>
			<br />
		</div>
		<div>
			<h4>Scanner le QR-code</h4>
			<div id="qrcode">Scan</div>
			<br />
		</div>
		<div>
			<h4>Entrer le numéro d'identification</h4>
      		<input type="text" class="form-control" placeholder="Numero d'idenfication" ng-model="idnum">
      		<br />
		</div>
		<br />
		<span class="input-group-addon"><a ng-href="#/home" style="text-decoration:none">Retour</a></span>
		<span class="input-group-addon" ng-click="next()">Valider</span>
	</div>
	<div ng-show="step2">
		<h2>Étape 2</h2>
		<h3>Choix de la présentation</h3>
		<br />
		<p>Veuillez importer votre présentation ci-dessous et cliquer sur valider.</p>
		<span class="btn btn-default btn-file">
			<input type="file" file-model="file"/>
		</span>
		<p style="font-size: small">Uniquement admis : PDF, ODT, PPT, PPTX</p>
		<br />
		<span class="input-group-addon" ng-click="back()">Retour</span>
		<span class="input-group-addon"><a ng-href="#/simulation">Valider</a></span>
	</div>
</div>

<style>
span{
	cursor: pointer;
}
#qrcode{
	width: 200px;
	height: 200px;
	background: white;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
</style>